<br>
<div class="buttons">
    <button class="offset" routerLink="/listaLigas" routerLinkActive="active">Regresar</button>
</div>
<br>
<div class="container">
    <h1>Bienveni@, aquí puedes visualizar la tabla de posiciones</h1>
    <br>
    <img class="avatar" src="assets/jugadores-de-futbol.png"><br>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre de la Liga</th>
                <th scope="col">Nombre del Equipo</th>
                <th scope="col">Puntos</th>
                <th scope="col">Goles a Favor</th>
                <th scope="col">Goles en Contra</th>
                <th scope="col">Diferencia de Goles</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equ of equiposEncontrados">
                <td>{{equ.liga}}</td>
                <td>{{equ.nombre}}</td>
                <td>{{equ.golesFavor}}</td>
                <td>{{equ.puntos}}</td>
                <td>{{equ.golesContra}}</td>
                <td>{{equ.diferenciaGoles}}</td>

                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalEditar" (click)="obtenerEquipo(equ._id)">Editar</button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalEliminar" (click)="obtenerEquipo(equ._id)">Eliminar</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalVer" (click)="obtenerEquipo(equ._id)">Ver</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Editar user -->
    <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="inputUsername" name="username" #username="ngModel" [(ngModel)]="equipoModel.nombre">
                        </div>
                        <div class="mb-3">
                            <label for="inputPuntos" class="form-label">Puntos</label>
                            <input type="text" class="form-control" id="inputPuntos" name="puntos" #puntos="ngModel" [(ngModel)]="equipoModel.puntos">
                        </div>
                        <div class="mb-3">
                            <label for="inputGolesfav" class="form-label">goles a Favor</label>
                            <input type="text" class="form-control" id="inputGolesfav" name="golesfav" #golesfav="ngModel" [(ngModel)]="equipoModel.golesFavor">
                        </div>
                        <div class="mb-3">
                            <label for="inputGolescon" class="form-label">goles a Contra </label>
                            <input type="text" class="form-control" id="inputGolescon" name="golescon" #golescon="ngModel" [(ngModel)]="equipoModel.golesContra">
                        </div>
                        <div class="mb-3">
                            <label for="inputDife" class="form-label">diferenciaGoles</label>
                            <input type="text" class="form-control" id="inputDife" name="difreciaaa" #difreciaaa="ngModel" [(ngModel)]="equipoModel.diferenciaGoles">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarEquipo()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ver user -->
    <div class="modal fade" id="exampleModalVer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ver Equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="inputUsername" name="username" #username="ngModel" [(ngModel)]="equipoModel.nombre" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="inputPuntos" class="form-label">Puntos</label>
                            <input type="text" class="form-control" id="inputPuntos" name="puntos" #puntos="ngModel" [(ngModel)]="equipoModel.puntos" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="inputGolesfav" class="form-label">goles a Favor</label>
                            <input type="text" class="form-control" id="inputGolesfav" name="golesfav" #golesfav="ngModel" [(ngModel)]="equipoModel.golesFavor" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="inputGolescon" class="form-label">goles a Contra </label>
                            <input type="text" class="form-control" id="inputGolescon" name="golescon" #golescon="ngModel" [(ngModel)]="equipoModel.golesContra" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="inputDife" class="form-label">diferenciaGoles</label>
                            <input type="text" class="form-control" id="inputDife" name="difreciaaa" #difreciaaa="ngModel" [(ngModel)]="equipoModel.diferenciaGoles" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar user-->
    <div class="modal fade" id="exampleModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Se eliminara de forma definitiva el equipo: {{equipoModel.nombre}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarEquipo(equipoModel._id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>