<html>

<body>
    <div class="fondo">
        <div class="contenedor">
            <img class="foto1" src="assets/ale.png" alt="">
            <img class="foto2" src="assets/es.jpg" alt="">
            <img class="foto3" src="assets/pre.png" alt="">
            <img class="foto4" src="assets/ital.png" alt="">
            <h2 class="titulodejuego">Bienvenido administrador de Proyect Deport</h2>
            <h3 class="subtitulodejuego">Lleva el control de tus ligas y de todos los usuarios. Disfruta de la mejor aplicacion de futbol.</h3>
            <h3 class="subtitulodejuego">Lleva control de los clubes favoritos en la UEFA Champions League o la UEFA Europa League, toma en nota la intensidad de la CONMEBOL Libertadores, no pierdas de vista los triunfos y partidos destacados de tus equipos y disfruta del ambiente
                de las ligas Europeas y de las ligas de America </h3>
            <div class="buttons">
                <button class="offset" routerLink="/administrador" routerLinkActive="active">Añadir Administrador</button> <button class="offset" routerLink="/usuarios" routerLinkActive="active">Usuarios</button> <button class="offset" routerLink="/ligas"
                    routerLinkActive="active">Crear Liga</button> <button class="offset" routerLink="/listaLigas" routerLinkActive="active">Listar Ligas</button>

            </div>
        </div>

    </div>
</body>

</html>